#formulario form{
	background-color: #BFFCBF;
    border-radius: 9px;
    margin: 0px auto 2px;
	padding: 15px;
}

#label_dni, #label_nombre, #label_apellidos, #label_email, #label_fnac, #label_telefono {
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 1%;
	margin-bottom: 0.2em;
}

#div_dni, #div_nombre, #div_apellidos {
	margin-bottom: 0.5em;
}

