#label_dni, #label_nombre, #label_apellidos, #label_email, #label_fnac, #label_telefono, #label_curso, #label_especialidad {
	display: block;
	float: left;
	width: 15%;
	text-align: left;
	margin-right: 1%;
	margin-bottom: 0.1em;
}

#div_dni, #div_nombre, #div_apellidos, #div_email, #div_fecha, #div_curso, #div_especialidad, #div_telefono {
	margin-left: 5%;
	margin-bottom: 1.2em;
}

#div_submit {
	position: relative;
	margin-bottom: 5px;
	top: 74%;
	left: 50%;
}

#div_reset {
	position: relative;
	top: 78%;
	left: 50%;
}

input#letra {
	width: 25px;
}

input#telefono {
	width: 75px;
}

input#dni {
	width: 70px;
}

label#label_letra {
		margin-left: 23px;
}

